.hero {
  background-image: url("../images/image-header.jpg");
  background-position: center;
  min-height: 100vh;
  width: 100%;
  background-size: cover;

  .main-container {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

    .navList li {
      display: inline-block;
      list-style: none;
      flex-direction: column;
      padding: 0 20px;
      font-size: 14px;
      align-items: center;
      // font-weight: 200;
      //   flex-direction: row;

      .spans a {
        font-weight: bolder;
        border: 0px solid var(--White);
        border-radius: 20px;
        padding: 10px;
        text-transform: uppercase;
        color: var(--Very-dark-desaturated-blue);
        background-color: var(--White);
      }

      a.contact:hover {
        background-color: #6ecefe;
        color: var(--White);
      }
    }
  }

  .heroContent {
    text-align: center;
    // background-color: red;

    h1 {
      color: var(--White);
      letter-spacing: 0.8rem;
      font-size: 40px;
      // padding: 2rem 0;
      margin: 4rem 0;
      font-weight: 900;

      // background-color: blue;
      text-transform: uppercase;
    }
    img {
      position: absolute;
      top: 450px;
    }
  }
  a {
    color: var(--White);

    text-decoration: none;
  }
}
@media screen and (max-width: 420px) {
  .hero {
    width: 100%;
  }
  .navList {
    display: none;
  }

  .hamburger {
    visibility: visible;
  }
}
@media screen and (min-width: 420px) {
  .hamburger {
    display: none;
  }
}
