.section,
.section2,
.section3 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @media (max-width: 420px) {
    display: flex;
    flex-direction: column;
  }

  .colOne {
    background-color: white;
    margin: auto;
    color: var(--Very-dark-desaturated-blue);
    width: 50vw;

    @media (max-width: 420px) {
      width: 100vw;
      order: 2;
    }

    .col1 {
      margin-left: 100px;
      margin-right: 40px;
      // background-color: red;

      @media (max-width: 420px) {
        margin: 30px 20px;
      }
      h1 {
        // background-color: red;
        font-size: 3rem;
        font-weight: bolder;
        // margin-bottom: 30px;

        @media (max-width: 420px) {
          padding: 0 20px;
          text-align: center;
          font-size: 2rem;
        }
      }
      p {
        // letter-spacing: 1px;
        line-height: 25px;
        word-spacing: 3px;
        margin: 50px 0px;
        font-size: 18px;
        font-weight: 500;
        color: var(--Very-dark-grayish-blue);

        @media (max-width: 420px) {
          text-align: center;
          margin: 30px 0;
        }
      }
      .learn,
      .stand {
        font-weight: bolder;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--Very-dark-desaturated-blue);

        @media (max-width: 420px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      a.learn:hover {
        color: var(--Yellow);
      }
      a.stand:hover {
        color: var(--Soft-red);
      }
    }
  }
  .colOne-img {
    width: 50vw;

    @media (max-width: 420px) {
      display: flex;
      background-color: rebeccapurple;
      flex-direction: column;
      width: 100vw;
      order: 1;
      // background-color: red;
    }
  }
  .grape {
    width: 100%;
    position: relative;
    color: var(--Dark-moderate-cyan);
  }
  .graphics {
    position: absolute;
  }
  .grape-text {
    position: absolute;

    padding: 180px;
    align-items: center;
    top: 200px;
    z-index: 100;

    h1,
    p {
      text-align: center;
      margin-top: 40px;
    }
    h1 {
      color: var(--Dark-desaturated-cyan);
    }
  }

  .orange {
    position: relative;
    width: 100%;
    color: var(--Dark-blue);
  }
  .photograph {
    // position: absolute;
  }
  .orange-text {
    position: absolute;
    // left: 150px;
    // align-content: center;
    // justify-content: center;
    padding: 180px;
    align-items: center;
    z-index: 100;
    top: 200px;

    h1,
    p {
      text-align: center;
      margin-top: 40px;
    }
    h1 {
      color: var(--Dark-blue);
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  //     .col1 {
  //       background-color: red;
  //     }
  //     .colOne {
  //       flex-direction: column;
  //     }

  //     h1 {
  //       font-size: 0.5rem;
  //     }
  //     .colOne-img {
  //       flex-direction: column;
  //     }
  //   }
  //   // .colOne {
  //   //   width: 100%;
  //   //   display: block;
  //   // }
  //   // .colOne-img img {
  //   //   width: 100%;
  //   //   display: block;
  //   // }
  // }
}
